<div class="container">
  <div class ="row">
    
    <div class="col-md-12">
      <h1>Research24 Blog</h1><br>
    </div>

    <div class="col-md-8">

          <% @articles.each do |article| %>
            <h4><%= link_to article.title, article %> </h4>
            <p><i>Published&nbsp;<%= article.created_at.strftime("%B %d %Y") %></i></p>
            <p><%= truncate(article.body.humanize, length: 400, separator: ' ') %> <%= link_to '(show more)', article %></p>
            <br>
          <% end %>

      <%= will_paginate @articles, :class => "digg_pagination"%>
      <br>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Create New Article
      </button>

  

    </div>

    <div class="col-md-4">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Most Popular&nbsp;&nbsp;<span class="glyphicon glyphicon-certificate"></span></h3>
        </div>
        <div class="panel-body">
            *to add content*
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Archives&nbsp;&nbsp;<span class="glyphicon glyphicon-book"></span></h3>
        </div>
        <div class="panel-body">
            *to add content*
        </div>
      </div>

  
    </div>

      

  </div>
</div>





<!-- Modal for Create new -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createarticlemodal">Create New Article</h4>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

