<p id="notice"><%= notice %></p>

<div class="container productdetail">

	<h2>
	  <%= @product.name %>
	</h2>

	<p>
	  <%= @product.description %>
	</p>

	<p>
	  <img src= <%= @product.image_url %> alt="Image" height="130" width="130">
	</p>

	<p> Standard Price: £
	  <%= @product.price %>
	</p>

	<%= link_to 'Edit', edit_product_path(@product) %> |
	<%= link_to 'Back', products_path %>


</div>