<div class="container-fluid headerbar">
  <div class="container">
    <div class="col-md-12">
        
        <h2>Product Detail</h2>

    </div>
  </div>
  </div>


<div class="container productdetail">

	<h2>
	  <%= @product.name %>
	</h2>

	<p>
	  <%= @product.description %>
	</p>

	<p>
	  <img src= <%= @product.image_url %> alt="Image" height="130" width="130">
	</p>

	<p> Standard Price: £
	  <%= @product.price %>
	</p>

	<%= form_tag "/payments" do %>
	<input type=hidden name="id" value="<%= @product.id %>" />
	<input type=hidden name="id" value="<%= @user.id %>" />
  	<%= render partial: "shared/stripe_checkout_button" %>
	<% end %>

	<%= link_to 'Edit', edit_product_path(@product) %> |
	<%= link_to 'Back', products_path %>
	<%= link_to 'Destroy', product_path(@product),
            method: 'delete', confirm: 'Are you sure?' %>
     <br><br>

    <h4>Testimonials</h4>
    <% @product.testimonials.each do |testimonial| %>
	   <p>
	    <strong>Name:</strong>
	    <%= testimonial.name %>
	  </p>
	 
	  <p>
	    <%= testimonial.body %>
	  </p>
	    <i><%= link_to 'Delete Testimonial', [testimonial.product, testimonial],
	                   method: :delete,
	                   data: { confirm: 'Are you sure?' } %></i>	  
<br><br>
	<% end %>

    <h4>Add a Testimonial</h4>
	<%= form_for([@product, @product.testimonials.build]) do |f| %>
		<p>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</p>
		<p>
			<%= f.label :email %>
			<%= f.text_field :email %>
		</p>
		<p>
			<%= f.label :body %>
			<%= f.text_field :body %>
		</p>
		<p>
			<%= f.submit %>
		</p>
	<% end %> 


</div>