<!-- HEADER -->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href=<%= landing_page_path %> >RESEARCH24</a> 
        </div>
        <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav">
            <li><%= link_to "Home", landing_page_path %></li>
            <li><%= link_to "Products", products_path %> </li>
          </ul>


          <% if user_signed_in? %>
            <div class="nav navbar-nav pull-right">
             <li> <%= link_to current_user.email, edit_user_registration_path %> </li>
             <li> <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
            </div>

          <% else %>

            <div class="nav navbar-nav pull-right">
             <li> <%= link_to "Sign Up", new_user_registration_path %> </li>
             <li> <%= link_to 'Sign In', new_user_session_path %>
            </div>

          <% end %>



        </div><!--/.navbar-collapse -->
      </div>
    </div><!-- /header -->